:root {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    --azul-padrao: #3C6AA6;
    --azul-escuro: #17437c;
    --rosa-padrao: #9941BF;
    --branco-padrao: #fafafa;
}

@font-face {
    font-family: Roboto;
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Oswald;
    src: url('../../fonts/Oswald/static/Oswald-Regular.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('../../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    vertical-align: baseline;
}

#interface {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../imagens/hero-bg.png');
    background-size: cover;
}

#interface form {
    display: block;
    width: 350px;
    padding: 2rem 3rem;
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    background: linear-gradient(135deg, var(--azul-padrao), var(--azul-escuro));
    border-radius: 1rem;
}

#interface form .login-user {
    display: block;
    width: 77px;
    height: 77px;
    color: var(--branco-padrao);
    font-size: 5rem;
    text-align: center;
    margin: 0 auto 2rem auto;
    border: 2px solid var(--branco-padrao);
    border-radius: 50%;
    overflow: hidden;
}

#interface form input {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    border-radius: 1.5rem;
    margin-bottom: .5rem;
}

#interface form #bt-submit {
    background-color: #04AA6D;
    color: var(--branco-padrao);
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    text-transform: uppercase;
}

#interface form #bt-submit:hover{
    background-color: #059862;
    cursor: pointer;
}